<div class="input">
    <label for="{{ name }}" class="input__label">{{label}}</label>
    <input
        type="{{ type }}"
        id="{{ name }}"
        name="{{ name }}"
        placeholder="{{ placeholder }}"
        minlength="4"
        value="{{ value }}"
        {{#if readonly}}
        readonly
        {{/if}}
    >
</div>
