<div class="registration">
  <h2>SIGN UP</h2>
  <form action="" class="form-block">
    <div class="registration__inputs">
      {{{ firstNameInput }}}
      {{{ secondNameInput }}}
      {{{ loginInput }}}
      {{{ emailInput }}}
      {{{ phoneInput }}}
      {{{ passwordInput }}}
      {{{ passwordRepeatInput }}}
    </div>
    <div>
      {{{ button }}}
    </div>
  </form>
  <a href="/auth" class="auth__link">Sign In</a>
</div>
